.git
.gitignore
.dockerignore
.venv
venv
env
.env
env/.env.ocr
*.env
ocrapi/ocr-key-vision.json
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.egg-info
build
dist
.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store
Thumbs.db
logs
staticfiles
theme/static/css/dist/output.css
media
