.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log
.venv/
venv/
env/
ENV/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
db.sqlite3
backup.sqlite3
staticfiles/
collected_static/
media/
theme/static/css/dist/
node_modules/
.idea/
.vscode/
*.code-workspace
docker-compose.override.yml
docker-data/
.env
*.env
!*.env.example
docker/env/*.env
!docker/env/*.env.example
secrets/**
!secrets/.gitkeep
credentials/**
!credentials/.gitkeep
**/locale/**/LC_MESSAGES/*.mo
