Django
psycopg2-binary
Pillow
whitenoise
django-environ
django-widget-tweaks
django-parler
requests
python-dateutil
pytz
qrcode[pil]
openai
python-dotenv
google-cloud-vision
google-auth
weasyprint
pydyf
tinycss2
cssselect2
reportlab
PyPDF2
