{% extends 'basetemplates/base.html' %}
{% load i18n static %}

{% block nav_user %}
<a href="{% url 'medj:login' %}" class="px-4 py-2 rounded-xl font-bold bg-primaryDark text-white">{% trans "Вход" %}</a>
<a href="{% url 'medj:register' %}" class="px-4 py-2 rounded-xl font-bold bg-primaryDark text-white">{% trans "Регистрация" %}</a>
{% endblock %}

{% block body_content %}
<div class="w-[98%] mx-auto bg-blockbg rounded-3xl shadow-md flex-grow flex items-center justify-center py-6 px-4">
  <div class="w-full max-w-5xl">
    {% block public_content %}{% endblock %}
  </div>
</div>
{% endblock %}
