@import "tailwindcss";
@source "../../records/templates/**/*.html" "../../medj/templates/**/*.html" "../../templates/**/*.html" "../../records/**/*.js" "../../theme/static/js/**/*.js";
@theme {
  --color-sitebg: #EAEBDA;
  --color-blockbg: #FDFEE9;
  --color-blockalt: #FFFFF5;
  --color-primary: #43B8CF;
  --color-primaryDark: #0A4E75;
  --color-success: #15BC11;
  --color-danger: #D84137;

}
.bg-sitebg{background:var(--color-sitebg)}
.bg-blockbg{background:var(--color-blockbg)}
.bg-blockalt{background:var(--color-blockalt)}
.bg-primary{background:var(--color-primary)}
.bg-primaryDark{background:var(--color-primaryDark)}
.bg-success{background:var(--color-success)}
.bg-danger{background:var(--color-danger)}
.text-primary{color:var(--color-primary)}
.text-primaryDark{color:var(--color-primaryDark)}
.text-success{color:var(--color-success)}
.text-danger{color:var(--color-danger)}
.border-primary{border-color:var(--color-primary)}
.ring-danger{--tw-ring-color:var(--color-danger)}
