DJANGO_SETTINGS_MODULE=medj.settings.dev
DJANGO_SECRET_KEY=/app/secrets/django-key.txt
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_ENVIRONMENT=dev
DJANGO_DEBUG=1
POSTGRES_DB=medj
POSTGRES_USER=medj
POSTGRES_PASSWORD=CHANGE_ME
DB_ENGINE=django.db.backends.postgresql
DB_NAME=medj
DB_USER=medj
DB_PASSWORD=CHANGE_ME
DB_HOST=db
DB_PORT=5432
OCR_API_URL=http://ocrapi:5000/ocr
OPENAI_API_KEY_FILE=/app/secrets/openai-key.txt
PYTHONUNBUFFERED=1