@import "tailwindcss";

@theme {
  --color-sitebg: #EAEBDA;
  --color-blockbg: #FDFEE9;
  --color-primary: #43B8CF;
  --color-primaryDark: #0A4E75;
  --color-success: #15BC11;
  --color-danger: #D84137;
  --color-containerbg: #FFFFF5;
  --color-outline: rgba(0,0,0,.08);
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=date],
input[type=number],
input[type=url],
input[type=search],
input[type=time],
input[type=datetime-local],
select,
textarea {
  background-color: var(--color-containerbg);
}

input:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(0,0,0,.04);
}

.card-outline {
  background-color: transparent;
  border: 1px solid var(--color-outline);
  border-radius: 1rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.03);
}
